# Server configuration
PORT=5000

# Database configuration
# Replace with your MongoDB connection string
MONGO_URI=mongodb://localhost:27017/MediTrack

# Firebase configuration
# Replace with your Firebase Project ID
FIREBASE_PROJECT_ID=meditrack-24e13
